header {
    background-color:white;
    height: 30px;
    text-align: center;
    font-style: oblique;
    color: black;
}

#accesso {
    
    width: 50%;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
    font-style: italic;
    font-size: 20px;
    background-color: lightgray;
}

#titolo {
    text-align: center;
    font-style: italic;
    font-weight: bold;   
    margin-bottom: 50px;
    color: white;
}

#intro {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: white;
}

#celebrita {
  width: 50%;
  padding-left: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  float: left;
  font-style: italic;
  font-size: 20px;
  background-color: lightgray;
}

#celebrita>p{
    font-size: 20px;
}

#tendenze {
    width: 50%;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
    float: right;
    font-style: italic;
    font-size: 20px;
    background-color: lightgray;
}

#stile {
    font-style: italic;
    color: white;
    margin-bottom: 40px;
}

#stile>p {
    font-size: 15px;
}

#titoCal {
    font-style: italic;
    text-align: left;
    color: white;
    font-size: 30px;
}

#data {
    color: white;
    margin-top: 40px;
    font-style: italic;
}

#data>h1{
    margin-left: 15px;
    color: tomato;
}

#data>p {
    margin-top: 5px;
    margin-left: 25px;
    font-size: 20px;
}

#end>p {
    background-color: white;
    height: 30px;
    text-align: right;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: black;
}